$crimson: "Crimson Pro", serif;
$lora: "Lora", serif;
$montserrat: "Montserrat", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #181719;
  color: #ffffff;
}

// Header

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;

  p {
    font-family: $crimson;
    font-size: 14px;
    font-weight: 200;
    border: 1px solid white;
    padding: 11px;
  }
}

// Main

.principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2.5rem 0;

  h1 {
    font-family: $lora;
    font-weight: 500;
    font-size: 36px;
  }

  p {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 14px;
    max-width: 70%;
  }

  h3 {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 14px;

    i {
      padding-left: 0.5rem;
    }
  }
}

// Image
.image {
  position: relative;
}

// Card
.card {
  background-color: #181719;
  position: relative;
  top: -50px;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  right: -15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.presentation {
  display: flex;
  font-family: $montserrat;
  font-weight: 500;

  .aliza-img {
    width: 62px;
    img {
      border-radius: 50%;
      width: 40px;
    }
  }

  .aliza-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
      color: #828282;
    }
  }
}

// Footer

footer {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.9rem;
  margin: 2rem auto;

  p {
    color: #a9a9a9;
    text-align: center;
  }

  a {
    font-weight: 700;
    color: #a9a9a9;
  }
}

// PopUp

.popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #181719;

  .fa-times {
    display: block;
    text-align: right;
    margin: 2.7rem 1.3rem;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  li {
    &:first-of-type {
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: white;
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 500;
  }

  i {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .fa-times,
  .fa-bars {
    visibility: hidden;
    display: none !important;
  }

  .popup {
    position: relative;
    display: block !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181719;
  }

  ul {
    flex-direction: row !important;
  }

  main {
    display: flex;
  }

  .card {
    width: 55%;
    right: -125px;
    padding-right: 20%;
  }
}
